node_modules
*.mp4
!static/intro.mp4
*.mp3
!static/Canción\ Sorteo-\ Gonzalo\ Naranjo.mp3
*.zip
*.xlsx


# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
